{
  "components": {
    "schemas": {
      "getStockDataResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "dict",
            "description": "All data for the stock."
          },
          "EXTRA_INFORMATION_TO_ASSISTANT": {
            "type": "string",
            "description": "Extra information for the assistant only."
          },
          "learnMoreUrl": {
            "type": "string",
            "description": "URL to learn more about the stock."
          }
        }
      }
    }
  },
  "info": {
    "title": "PortfolioMeta Plugin",
    "description": "A plugin that returns current data for any stock. All you need to use this plugin is a ticker symbol.",
    "version": "v1"
  },
  "openapi": "3.0.1",
  "paths": {
    "/api/all-stock-info?ticker={ticker}": {
      "get": {
        "operationId": "getStockData",
        "summary": "Get current data for any U.S. stock.",
        "parameters": [
          {
            "in": "path",
            "name": "ticker",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The ticker symbol of the stock."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getStockDataResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://portfoliometa.com"
    }
  ]
}
