{
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "HTML200": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "URL to the picture"
          }
        }
      }
    }
  },
  "info": {
    "title": "Mermaid Builder",
    "version": "1.0.0"
  },
  "openapi": "3.0.2",
  "paths": {
    "/generate": {
      "post": {
        "operationId": "generate",
        "summary": "Sending data in Mermaid format",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTML200"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://mermaid.pyxl.uk"
    }
  ]
}
