{
  "info": {
    "title": "CSV Generator API",
    "description": "Generate a CSV file from an array of arrays.",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "paths": {
    "/generate-csv": {
      "post": {
        "operationId": "generateCsv",
        "summary": "Generate a CSV file from an array of arrays",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "description": "An array of arrays to be converted to CSV. Each array represents a row in the CSV file.",
                    "items": {
                      "type": "array",
                      "items": {}
                    }
                  },
                  "title": {
                    "type": "string",
                    "description": "A single line of text to be used as the title of the CSV file (can have spaces)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL of the created CSV file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data. Expected an array of arrays.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://sheet-generator.brandzzy.com"
    }
  ]
}
